h1{
    background-color: green;
    text-align: center;
}

.container{
    height: 550px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    font-size: x-large;
}